body{
  height: 100vh;
  width: 100vw;
}

div {
  display: block;
}

.header-overall{
  flex-direction: column;
  height: 340px;
  width: 100%;
}

.header-upper{
  background-color: #fffd44;
  align-items: center;
  height: 100px;
  width: 100%;
  position: relative;
  letter-spacing: 1px;

}

.header-logo img{
  height: 100px;
}
.header-logo{
  margin: 0 525px 0 525px;
  position:absolute;
}

.header-address span{
  font-size: 30px;
}

.header-address{
  top: calc(50% - 1px);
  left: 40px;
  position: absolute;
  font-size: 13px;
  font-family: 'Arapey', serif;
  font-weight: 100;
  transform: translateY(-50%);
  line-height: 25px;

}

.header-link{
  float: left;
  top: 39px;
  left: 1120px;
  position: absolute;
  font-family: 'Arapey', serif;
  font-size: 15px;
}

.contact{
  background-color: white;
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid black;
  border-right: 0px;
}

.contact::before{
  content: "";
  display: inline-block;
  width: 21px;
  height: 16px;
  margin-bottom: -0.25em;
  margin-right: 0.3em;
  background-image: url(../asset/images/email.png);
  background-position-x: center;
  background-position-y: center;
}



.reserve{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid black;
  border-left: 0px;
  margin-left: -7px;
}

.reserve::before{
  content:"";
  display: inline-block;
  width: 21px;
  height: 16px;
  margin-bottom:-0.25em;
  margin-right: 0.7em;
  background-image: url(../asset/images/reserve.png);
} 